mc:
  enabled: true
artifactory:
  # persistence:
  # existingClaim: pvc-art
## for resetting password
  # admin:
  #   ip: "*"
  #   username: "admin"
  #   password: "password"
  extraSystemYaml:
    jfconnect:
      enabled: true
      airgap:
        enabled: true
nginx:
  # if install runtime, disable nginx
  enabled: true
  https:
    enabled: false
  service:
    type: NodePort
    nodePort: 38080
  http:
    internalPort: 38080
    externalPort: 38080
  # tlsSecretName: my-tls
ingress:
  # if install runtime, enable ingress
  enabled: false
  defaultBackend:
    enabled: true
  hosts: []
    # here use [] to ignore domain
    # - <add-your-public-domain-here>
  routerPath: /
  disableRouterBypass: true
  artifactoryPath: /artifactory/
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/rewrite-target: "/"
  tls:
    - secretName: artifactory-tls-secret
      hosts: []
        # here use [] to ignore domain
        # - <add-your-public-domain-here>

## for helm upgrade to work
databaseUpgradeReady: true

## skip pre upgrade check to avoid additional image pull when upgrade
preUpgradeHook:
  enabled: false
