postgresql:
  primary:
    resources:
      requests:
        cpu: 2
        memory: 512Mi
      limits:
        cpu: 3
        memory: 2Gi
#   persistence:
#     existingClaim: pvc-pg
#   volumePermissions:
#     enabled: true

# rabbitmq:
#   persistence:
#     existingClaim: pvc-rabbit
#   volumePermissions:
#     enabled: true

artifactory:
  enabled: true
## enable mission-control, to manage license bucket
  mc:
    enabled: true
  artifactory:
    # systemYamlOverride:
    #   existingSecret: art-system-yaml
    #   dataKey: system.yaml
    # persistence:
    # existingClaim: pvc-art
    extraSystemYaml:
      jfconnect:
        enabled: true
        airgap:
          enabled: true
## for resetting password, add a new blank line to make sure kubectl detects its change
    # admin:
      # ip: "*"
      # username: "admin"
      # password: "password"
## if use mysql, enable artifactory.preStartCommand to download dirver
    # preStartCommand: "mkdir -p /opt/jfrog/artifactory/var/bootstrap/artifactory/tomcat/lib; cd /opt/jfrog/artifactory/var/bootstrap/artifactory/tomcat/lib && curl -o /opt/jfrog/artifactory/var/bootstrap/artifactory/tomcat/lib/mysql-connector-java-8.0.13.jar https://repo1.maven.org/maven2/mysql/mysql-connector-java/8.0.13/mysql-connector-java-8.0.13.jar"
  nginx:
    # if install runtime, disable nginx
    enabled: true
    service:
      annotations: {}
    http:
      externalPort: 8080
    https:
      externalPort: 8443
    # tlsSecretName: my-tls
  ingress:
    # if install runtime, enable ingress
    enabled: false
    defaultBackend:
      enabled: true
    hosts: []
      # here use [] to ignore domain
      # - <add-your-public-domain-here>
    routerPath: /
    disableRouterBypass: true
    artifactoryPath: /artifactory/
    className: "nginx"
    annotations:
      nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/rewrite-target: "/"
    tls:
      - secretName: artifactory-tls-secret
        hosts: []
          # here use [] to ignore domain
          # - <add-your-public-domain-here>
xray:
  enabled: true
  xray:
    # systemYamlOverride:
    #   existingSecret: xray-system-yaml
    #   dataKey: system.yaml
    extraSystemYaml:
      server:
        dbSync:
          impactAnalysis:
            enabled: true
        logging:
          application:
            level: info
  server:
    resources:
      requests:
        cpu: 2
        memory: 512Mi
      limits:
        cpu: 3
        memory: 2Gi
## for jas (serviceAccount & rbac)
  serviceAccount:
    create: true
  rbac:
    create: true
  # common:
  #   persistence:
  #     existingClaim: pvc-xray

catalog:
  enabled: true
  extraSystemYaml:
    central:
      url: "https://jfscatalogcentral.jfrog.io"

insight:
  enabled: false

distribution:
  enabled: false

pipelines:
  enabled: false

## This Redis is used by pipelines only, set redis.enabled: false, when pipelines is not enabled
redis:
  enabled: false

## for helm upgrade to work
databaseUpgradeReady: true

## skip pre upgrade check to avoid additional image pull when upgrade
preUpgradeHook:
  enabled: false




